<div class="container"><br>
    <h1 class="txt1">Grade 11 - School Papers   <i class="bi bi-download"></i></h1>
</div>


<div class="prasentationContainer">
    <h1 class="txt1">Presentations   <i class="bi bi-download"></i></h1>  

    <div class="tableContainer">
        <table>
            <tr>
              <th>#</th>
              <th>Presentation</th>
              <th>Title</th>
            </tr>
            <tr>
              <td>1</td>
              <td><a href="../../../assets/pdf/com.pdf" target="_blank" class="p1">Download PDF</a></td>
              <td>The Importance of Computer</td>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="../../../assets/pdf/com.pdf" target="_blank" class="p1">Download PDF</a></td>
                <td>The Importance of Computer</td>
              </tr>
          </table>
    </div>

</div>

<div class="tutesContainer">
    <h1 class="txt1">Tutes   <i class="bi bi-download"></i></h1>
</div>
